@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    max-height: 100vh;
    max-width: 100vw;
    background-color: #1a1e1f;
}

input[type="radio"]:checked + label {
    @apply fill-yellow-500;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-height: 100vh;
    max-width: 100vw;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.max-w-screen {
    max-width: 100vw;
}

.shadow {
    box-shadow: #fff 0px 0px 1px 1px;
}

.range {
    height: 6px;
    -webkit-appearance: none;
    appearance: none;
    background: #5e5e5e;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 4px;
    background: #ec8936;
    cursor: pointer;
    border: 7px solid #fff;
    box-shadow: -2007px 0 0 2000px #ec8936;
    position: relative;
}

albumcard, 
img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}